.my-container{
    background-color:#45595b !important;
    padding-left: 100px; 
    padding-right: 100px; 

}

a:hover{
    color: #ffb524 !important;
}
.heading{
 
    color:#91d328; 
    cursor: pointer;
    font-weight: 200;
    font-size: 25px; 
    padding-top: 50px;
}
.subheading{
    display:flex;
    color: #ffb524 !important;;
    font-size: 18px;
    text-decoration: none;   
    
}
.ruhi{
    color:white;
    font-size:25px;
    font-weight: 600;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left:20px ;
}


.list{
    margin-bottom:  15px;
    font-size: 17px;
    font-weight: 450;
}

ul{
    color: rgba(255, 255, 255, .5);
    list-style: none;
    
}

.my-line{
    border: solid #ffb524;
    opacity: 0.9;
     border-width: 1px; 
     margin-top: 50px;
   
}

.my-btn{
    display: flex;
    border-radius: 45px;
    width: 145px;
    height:45px;
    line-height: 42px ;  
    background-color: transparent;
    border-color: #ffb524 !important;
    border: 1.5px solid rgba(249,222,15,0.934);
    justify-content:center ;
    text-align: center ;
    font-size: 16px;
    font-weight: 650; 
    color:rgb(145, 211, 40);     
}

.my-btn:hover{
    background-color: #ffb524 !important; 
    color: White;
    transition: 0.4s; 
}

.my-txt{
    color: rgba(255, 255, 255, .5);
    display: flex;
    flex-direction: column ;
    justify-content: start;
    margin: auto;
    margin-bottom: 1.5px;
}

.shop{
    width: 20%;
    float: left;
    display: inline;
    padding: 5px;
}
.account{
    display: flex;
    text-align: left !important;
    width: 20%;
    flex-direction: column !important;
    float: right;
}
.contact{
    display: flex;
}

.jar{
    display: flex;
    gap: 100px;
    margin-top: 25px;
}
.social{
    /* display: row; */
    color: #ffb524 !important;
    font-size: 16px;
    margin-right: 15px;
     background-color: transparent;
     border-radius: 50%;
     border: 1px solid  #ffb524 !important;
     padding: 10px ;
     width: 40px;
     height: 40px;
     text-align: center; 
     justify-content: center;
     line-height: 10px;
}
.social:hover{
    background-color: #ffb524 !important; 
    color: black;
    transition: 0.4s; 
}

.social_links{
    align-items: end;
}

.footer-col.col.ruhi.list ul a{
    color: rgba(255, 255, 255, .5) !important;
    margin-left: -10px;
}

.upperpart{
    display: table-row;
}
.searchbar{
    width: 450px;
    height:50px;
    border-radius: 50px;
    border-style: none;
}

.searchbar_container{

    
}

